/* ===== Base Styles ===== */

body {
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  height: 100vh;
}

main {
background-color: #ffffff;
border-radius: 15px;
width: 325px;
height: 375px;
}

/* ===== Top Styles ===== */
.card-top {
 background-image: url(./images/bg-pattern-card.svg);
 background-repeat: no-repeat;
}

.profile-img {
border-radius: 50%;
border: 5px solid #ffffff;
}

/* ===== Middle Styles ===== */
.card-mid {

}
.name {

}
.age {

}
.city {

}
/* ===== Bottom Styles ===== */
.card-bot {

}

/* ===== FM Footer Message ===== */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}