/* ===== Body Styles ===== */

body {
  display: flex;
  flex-direction: column;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
  background-color: hsl(185, 75%, 39%);
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position:
    top -525px left -750px, bottom -520px right -775px;
  height: 100vh;
  overflow: hidden;
}

/* ===== Media Query for Desktop screen size ===== */

@media only screen and (min-width: 1024px) {
  body {
    background-position:
      top -450px left -245px, bottom -520px right -225px;
  }
}

/* ===== Profile Card Styles ===== */
main {
  background-color: #ffffff;
  border-radius: 15px;
  width: 326px;
  height: 374px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-shadow: 0 1px 50px -15px hsl(229, 23%, 23%);
}

/* ===== Top Styles ===== */
.card-top {
  background-image: url(./images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 37%;
  text-align: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.profile-img {
  border-radius: 50%;
  border: 5px solid #ffffff;
  margin-top: 86px;
}

/* ===== Middle Styles ===== */
.name {
  font-size: 18px;
  font-weight: 700;
  padding-top: 77px;
  margin: 0;
}

.age {
  font-size: 18px;
  font-weight: 400;
  color: hsl(227, 10%, 46%);

}

.city {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: hsl(227, 10%, 46%);
  padding: 0px 0 9px 0;
}

/* ===== Bottom Styles ===== */
.card-bot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid lightgray;
  text-align: center;
  width: 100%;
  height: 24%;
}

.big-text {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 8px;
}

.sm-text {
  font-size: 10px;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  letter-spacing: 1.5px;
  margin: 0;
}

/* ===== FM Footer Message ===== */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}